{% extends 'base.html'%}
{% load static %}
{% block title %}Payment Details{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<h2 style="text-align:center">Name: {{student.enrolled_stud.user.first_name}} {{student.enrolled_stud.user.last_name}}</h2><br>
<h2 style="text-align:center">Payment Type: {{student.paymentType}}</h2><br>
<h2 style="text-align:center">Payment ID: {{student.paymentID}}</h2><br>
<h2 style="text-align:center">Amount: {{student.amount}}</h2><br>
<div class="d-flex justify-content-center">
    <p style="padding-bottom: 0;">View the Screenshot.</p>
</div>
<div class="d-flex justify-content-center">
<a href={{student.screenShot}}>here.</a></div><br><br><br>
<br>
<br>
<br>

{% endblock%}